<!DOCTYPE html>
<html>
  <head>
    <title>Survey</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
<img src="/images/images.jpg">
<div class="container">
    <div class="row bg-success mt-5 py-3">
        <h1>{{title}}</h1>
    </div>
        <form id = "friend-form" class="pt-3">
            <div class="form-group col-8 mx-auto">
                <label for="nameField">Your name</label>
                <input type="text" class="form-control" id="nameField" placeholder="Mariah Carey">
            </div>

            <div class="form-group col-8 mx-auto">
                <label for="imageField">Link to a profile image for you </label>
                <input type="text" class="form-control" id="imageField">
            </div>

            <div class="form-group col-9">
                <label for="question1">Do you believe that there is an afterlife;</label>
                <select class="form-control col-3" id="question1">
                    <option value="5"> 5 - strongly agree</option>
                    <option value="4">4</option>
                    <option value="3">3</option>
                    <option value="2">2</option>
                    <option value="1">1 - strongly disagree</option>
                </select>
            </div>

            <div class="form-group col-9">
                <label for="question2">Do you believe that there are smart people in America;</label>
                <select class="form-control col-3" id="question2">
                    <option value="5">5 - strongly agree</option>
                    <option value="4">4</option>
                    <option value="3">3</option>
                    <option value="2">2</option>
                    <option value="1">1 - strongly disagree</option>
                </select>
            </div>
            <div class="form-group col-9">
                <label for="question3">A lot of Americans violate the law and they know that they gonna be unpunished. Do you agree with that;</label>
                <select class="form-control col-3" id="question3">
                    <option value="5">5 - strongly agree</option>
                    <option value="4">4</option>
                    <option value="3">3</option>
                    <option value="2">2</option>
                    <option value="1">1 - strongly disagree</option>
                </select>
            </div>
            <div class="form-group col-9">
                <label for="question4">Life has its own ways of making things work out at the end.</label>
                <select class="form-control col-3" id="question4">
                    <option value="5">5 - strongly agree</option>
                    <option value="4">4</option>
                    <option value="3">3</option>
                    <option value="2">2</option>
                    <option value="1">1 - strongly disagree</option>
                </select>
            </div>
            <div class="form-group col-9">
                <label for="question5">People that do not want to learn something new and they're comfortable with thier situation, they will never experience something different./label>
                <select class="form-control col-3" id="question5">
                    <option value="5">5 - strongly agree</option>
                    <option value="4">4</option>
                    <option value="3">3</option>
                    <option value ="2">2</option>
                    <option>1 - strongly disagree</option>
                </select>
            </div>

            <div class="form-group col-9">
                <label for="question6">Do you believe that criminality in California has been increased;</label>
                <select class="form-control col-3" id="question6">
                    <option value="5">5 - strongly agree</option>
                    <option value="4">4</option>
                    <option value="3">3</option>
                    <option value="2">2</option>
                    <option value="1">1 - strongly disagree</option>
                </select>
            </div>

            <div class="form-group col-9">
                <label for="question7">God is watching us all the time and he does care about us?</label>
                <select class="form-control col-3" id="question7">
                    <option value="5">5 - strongly agree</option>
                    <option value="4">4</option>
                    <option value="3">3</option>
                    <option value="2">2</option>
                    <option value="1">1 - strongly disagree</option>
                </select>
            </div>

            <div class="form-group col-9">
                <label for="question8">There is a lot of poverty in Europe</label>
                <select class="form-control col-3" id="question8">
                    <option value ="5">5 - strongly agree</option>
                    <option value="4">4</option>
                    <option value="3">3</option>
                    <option value="2">2</option>
                    <option value="1">1 - strongly disagree</option>
                </select>
            </div>

            <div class="form-group col-9">
                <label for="question9">Each one of us is responsible for his actions.</label>
                <select class="form-control col-3" id="question9">
                    <option value="5">5 - strongly agree</option>
                    <option value="4">4</option>
                    <option value="3">3</option>
                    <option value="2"> 2</option>
                    <option value="1"> 1 - strongly disagree</option>
                </select>
            </div>

            <div class="form-group col-9">
                <label for="question10">Life is a three-dimensional movie where we need to find the right actors.</label>
                <select class="form-control col-3" id="question10">
                    <option value="5">5 - strongly agree</option>
                    <option value="4">4</option>
                    <option value="3">3</option>
                    <option value="2">2</option>
                    <option value="1">1 - strongly disagree</option>
                </select>
            </div>

            <div class="py-5">
                <button type="submit" id="submit" class="btn btn-success border-0 px-5 py-3">Submit</button>
            </div>
        </form>

        <!-- Modal to display best friend -->

        <div id = "bf-modal" class="modal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">George! Your Best Friend!</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                        <h3 id= "match-name"></h3>
                        <img id="match-img" src="" alt="image of best friend">
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                    </div>
                  </div>
                </div>
              </div>





    </div>
 

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery.js"></script>

    <script type="text/javascript" src="survey.js"></script>


    
    
 
